
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.info-container{
    display: block;
    width: 100%;
    height: 80vh;
}

.info-wrapper{
    width: 70%;
    padding: 30px;
    height: 350px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: rgba(82, 69, 50, 0.651);
    display: flex;
}


.button{
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
}