*{
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.info-wrapper{
    width: 0 auto;
    margin: 0 auto;
    display: block;
    justify-content: center;
    padding: auto;
}

.thumbnail{
    border-radius: 100px;
    text-align: center;
}

.button{
    text-align: center;
    margin-top: 10px;
}